.Wide{
	position:relative;
	width:100%;
}
.container{
	top:5vw;
	left:5vw;
	position:absolute;
	display:block;
	width:90vw;
	height:50vw;
	}
.Whitemask{
	top:5vw;
	left:5vw;
	position:absolute;
	display:block;
	width:90vw;
	height:50vw;
	background-color:white;
	opacity:0.6;
}

	
