html,
body {
    box-sizing: border-box;
    overflow-x: hidden;
}

.anim{
    width:100vw;
    height:100vh;
    background-color: black;
    position:absolute;
}



.App {
  text-align: center;
  overflow:hidden;
}

.TextContent{
    z-index:2;
    height:100vh;
    display:grid;
    place-items:center;
    font-size:3em;
    margin-top:-10%;
        color:#eb4a4c;
}
a {
    color:white;
}
@media (max-width:600px){
        .TextContent{
        font-size:1em;
        margin-top:-30%;
        }
}
@media (min-width:601px) and (max-width:1000px){
        .TextContent{
        font-size:2em;
        margin-top:-20%;
        }
}

