html,
body {
    box-sizing: border-box;
    overflow-x: hidden;
}

.anim{
    width:100vw;
    height:100vh;
    background-color: black;
    position:absolute;
}



.App {
  text-align: center;
  overflow:hidden;
}

.TextContent{
    z-index:2;
}

a {
    color:white;
}

